@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #010103;
}
@layer utilities{
    .c-space{
        @apply sm:px-10 px-5;
    }
}
.waving-hand{
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes wave-animation{
    0%{
        transform: rotate(0deg);
    }
    15%{
        transform:rotate(14deg);
    }
}