@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('/src/assets/4.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

@layer utilities{
    .c-space{
        @apply sm:px-10 px-5;
    }
}
.waving-hand{
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes wave-animation{
    0%{
        transform: rotate(0deg);
    }
    15%{
        transform:rotate(14deg);
    }
}